.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: #0067a3;
  padding: 0 20px;
}

.header__title {
  font-size: 28px;
  line-height: 33px;
}

@media (max-width: 500px) {
  .header {
    background-color: #0079BF;
    padding: 14px 15px 0px;
  }

  .header__title {
    font-size: 0;
  }
}
