.modal {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 77px;
  left: 0;
}

.modal__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1180px;
  max-height: 548px;
  margin-top: 80px;
  background-color: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 5px;
}

.modal__title {
  margin-bottom: 35px;
}

.modal__text {
  width: 80%;
  height: 80%;
  border: 2px solid transparent;
  transition: border 0.2s linear;
}

.modal__text:hover {
  cursor: pointer;
}

.modal__text:focus {
  outline: none;
  border-color: #0067a3;
  cursor: auto;
}

.modal__btn {
  position: absolute;
  top: 17px;
  right: 23px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 0.1s linear, transform 0.1s linear,
    outline 0.1s linear;
}

.modal__btn:hover,
.modal__btn:focus-visible {
  background-color: #ebecf0;
  transform: scale(0.95);
}

.modal__btn:focus-visible {
  outline: 2px solid #0067a3;
  outline-offset: 2px;
}

.modal__btn:active {
  transform: scale(0.9);
}

@media (max-width: 500px) {
  .modal__wrap {
    width: 70%;
  }

  .modal__text {
    width: 95%;
  }
}
