.card {
  background-color: #ebecf0;
  padding: 12px 12px 8px;
  border-radius: 10px;
  width: 258px;
  margin-bottom: auto;
}

.card__title {
  font-weight: inherit;
  font-size: inherit;
  margin: 0 0 20px;
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 490px;
  overflow: auto;
}

.card__text {
  margin-top: 0;
}

.card__item, .card__input, .card__select {
  background-color: #fff;
  padding: 9px 7px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.card__link {
  color: inherit;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}

.card__link:focus-visible {
  color: #0067a3;
  text-decoration: underline;
  outline: none;
}

.card__link:active {
  color: #0067a3;
  text-decoration: none;
}

.card__subtitle {
  word-wrap: break-word;
  font-weight: inherit;
  font-size: inherit;
  line-height: 21px;
  margin: 0;
}

.card__btn--add {
  display: none;
  align-items: center;
  color: #5e6c84;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transform: scale(1);
  transition: background-color 0.1s linear, transform 0.1s linear,
  outline 0.1s linear;
}

.card__btn--add:hover, .card__btn--add:focus-visible, .card__btn--submit:hover {
  background-color: #fff;
  transform: scale(0.95);
}

.card__btn--add:focus-visible, .card__input:focus-visible, .card__btn--submit:focus-visible, .card__select:focus-visible {
  outline: 2px solid #0067a3;
  outline-offset: 2px;
  transform: scale(0.95);
}

.card__btn--add:active, .card__btn--submit:active {
  transform: scale(0.90);
}

.card__btn--add.is-active {
  display: flex;
}

.btn-icon {
  margin-right: 4px;
}

.card__form {
  display: flex;
  flex-direction: column;
}

.card__input {
  transition: transform 0.1s linear,
  outline 0.1s linear;
}

.card__btn--submit {
  align-self: self-start;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  background-color: #0067A3;
  padding: 4px 21px;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s linear, transform 0.1s linear,
  outline 0.1s linear;
}

.card__btn--submit:hover {
  background-color: #0079bf;
  padding-top: 2px;
  padding-bottom: 6px;
}

.card__select {
  width: 100%;
  cursor: pointer;
  transition: transform 0.1s linear,
  outline 0.1s linear;
}
.card__option {
  width: 100%;
  cursor: pointer;
}

@media (max-width: 500px) {
  .card__list {
    max-height: 150px;
  }
}